.App {
  text-align: center;
}

.border {
  border: 1px solid #cccccc;
  border-radius: 18px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  margin: .5em;
}

.row {
  align-items: center;
}

